@charset "utf-8";

header {
  height: 60px;
  background-color: #aaaaaa;
  // filter: drop-shadow(0px 5px 3px rgba(26, 61, 85, 0.2));

  // タイトルとナビ部を横並びに配置
  .container {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
  }

  // サイトタイトル
  #site-title {
    display: flex;
    align-items: center;

    h1 {
      font-size: 25px;
      line-height: 60px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li {
        a {
          display: block;
          padding-left: 25px;
          padding-right: 25px;
          line-height: 60px;

          height: 60px;
          // border-left: 1px solid #777777;

          // 現在表示中のリンク
          &[aria-current="page"] {
            color: #333;
            background-color: #cccccc;
          }

          // hover
          &:hover {
            color: #333;
            background-color: #ffffff;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }

  .hamburger-menu {
    display: none;
  }
}

// 画面が小さい場合はナビをハンバーガーメニューに切り替える
@media screen and (max-width:800px) {
  header {

    // ナビ
    nav {
      display: none;
    }

    // ハンバーガーメニュー
    .hamburger-menu {
      display: block;

      // メニューボタン
      .menu-btn {
        position: fixed;
        top: 0px;
        right: 0px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #aaaaaa;

        span,
        span:before,
        span:after {
          content: '';
          display: block;
          height: 3px;
          width: 25px;
          border-radius: 3px;
          background-color: #ffffff;
          position: absolute;
        }

        span:before {
          bottom: 8px;
        }

        span:after {
          top: 8px;
        }
      }

      #menu-btn-check {
        display: none;

        &:checked~.menu-btn {
          span {
            background-color: rgba(255, 255, 255, 0);

            &::before {
              bottom: 0;
              transform: rotate(45deg);
            }

            &::after {
              top: 0;
              transform: rotate(-45deg);
            }
          }
        }

        &:checked~.menu-content {
          left: 0;
        }
      }

      // 内容
      .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: #aaaaaa;
        transition: all 0.5s;

        ul {
          padding: 70px 10px 0;

          li {
            border-bottom: solid 1px #ffffff;
            list-style: none;

            a {
              display: block;
              width: 100%;
              font-size: 15px;
              box-sizing: border-box;
              color: #ffffff;
              text-decoration: none;
              padding: 9px 15px 10px 0;
              position: relative;

              &::before {
                content: "";
                width: 7px;
                height: 7px;
                border-top: solid 2px #ffffff;
                border-right: solid 2px #ffffff;
                transform: rotate(45deg);
                position: absolute;
                right: 11px;
                top: 16px;
              }
            }
          }
        }
      }

    }

    // nav {
    //   ul {
    //     li {
    //       a {
    //         padding: 15px 15px;
    //       }
    //     }
    //   }
    // }
  }

}
