@charset "utf-8";

// ----------------------------------------
// メイン部のCSSを記載する
// @author MK
// ----------------------------------------
main {
  background-color: #dddddd;
  padding-bottom: 80px;

  .content-container {

    &:nth-child(even) {
      background-color: #ffffff;
    }

    // タイトル
    h2 {
      font-size: 45px;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 20px;
    }

    h3 {
      margin: 20px 15px 10px 15px;
      padding: 5px 10px;
      border-left: 10px solid #333333;
    }

    // タイトル以下の中身
    .contents {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-radius: 5px;

      // 画像とテキストのコンテンツ
      .image-content {
        max-width: 350px;
        width: 350px;
        text-align: center;

        img {
          margin: 0px;
          width: 100%;
        }
      }

      .text-content {
        flex: 1;

        ul {
          padding-left: 40px;
        }

      }

      .half-content {
        width: 48%;
        border-radius: 5px;
        background-color: #ffffff;

        .description {
          font-size: 90%;
          color: #666666;
        }

        .cards {
          display: flex;
        }

        .card {
          width: 50%;
          padding: 10px;

          img {
            width: 100%;
          }
        }
      }

      p {
        padding: 10px 20px;
      }

      .footer-link {
        // height: 30px;
        text-align: right;
        padding: 10px;
      }
    }


    a {
      display: inline-block;
      padding: 5px 10px;
      color: #333333;
      border: 1px solid #eeeeee;
      background-color: #eeeeee;
      font-weight: bold;
      text-decoration: none;
      border-radius: 5px;

      &:hover {
        // text-decoration: underline;
        color: #888888;
        border: 1px solid #eeeeee;
        background-color: #ffffff;
        filter: drop-shadow(1px 1px 2px rgba(58, 58, 58, 0.5));
      }
    }
  }
}
